{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "semi": ["warn", "never"],
    "quotes": ["warn",  "double"],
    "@typescript-eslint/explicit-function-return-type": "warn"
  }
}